[Unit]
Description=WiFi Manager Service
After=network.target

[Service]
Type=simple
WorkingDirectory=__INSTALL_DIR__
Environment=PATH=/usr/bin:/usr/sbin:/bin:/sbin:${PATH}
Environment=VIRTUAL_ENV=__INSTALL_DIR__/venv
ExecStart=__INSTALL_DIR__/venv/bin/python3 app.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
